@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
}
.land-containter{
    height: 100vh;
    width: 100%; 
    background-image: url(../assets/Images/cricket2.jpg);
    background-color: rgba(0, 0, 0, 0.644);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    
}

.land-containter .landing-text{
    width: 60%;
}

.land-containter .myBtn{
    background-color: #980623;
    color: rgb(227, 223, 223);
    margin: 5px;
}

.myBtn:hover{
    background-color: #630b0b !important;
    color: lightyellow !important;
}

.landing-text span{
    color:  rgb(164, 7, 7);
    font-weight: 600;
}

@media (max-width: 774px){
    .landing-text {
        width: 80%;
    }
}

@media (max-width: 430px) {
    .land-containter{
        background-position: left;
    }
    .land-containter .landing-text{
        width: 80%;
    }
    .landing-text span{
        display: block;
    }
}